/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */

:root {
    --color1: #ee6d24;
    --color2: #775548;
    --color3: #e1d4cf;
}

body {
    background-color: #ebebeb;
    font-family: Verdana, Arial, sans-serif;
    color:#775548;
}

.portada {
    width: 100%;
}

.link {
    color: var(--color1);
    font-weight: 600;
}

h1 {
    color: var(--color2);
}

h2{
    background-color: var(--color2);
    color: var(--color3); 
}

.informacion{
    color: #d8ac41; 
}

.link-la-nacion {
    color: #40aec7;
}

.link-pagina12 {
    color: #ee4b51;
}

.img-tarifas {
    width: 300px;
}