/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */

:root {
    --color1: #ee6d24;
    --color2: #775548;
    --color3: #e1d4cf;
}

body {
    background-color: #ebebeb;
    font-family: Verdana, Arial, sans-serif;
}

.portada {
    width: 100%;
}

.link {
    color: var(--color1);
    font-weight: 600;
}

h1 {
    color: var(--color2);
}

.icono-mapa {
    text-align: center;
}

.mapa {
    width: 100%;
    height: 30%;
}

.contenedor-como-llegar {
    display:flex;
}


.img-tarifas {
    width: 300px;
}